<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

ErrorDocument 404 /404.php

###  REDIRECT (изнутри)

# /index.php → /
RewriteCond %{THE_REQUEST} \s/+index\.php[\s?]
RewriteRule ^index\.php$ / [R=301,L]

# /index.php?page=1 → /news/
RewriteCond %{THE_REQUEST} \s/+index\.php\?page=1(\s|$)
RewriteRule ^index\.php$ /news/ [R=301,L]

# /index.php?id=3&page=1 → /news/3/
RewriteCond %{THE_REQUEST} \s/+index\.php\?id=([0-9]+)&page=1(\s|$)
RewriteRule ^index\.php$ /news/%1/ [R=301,L]

# /index.php?page=N → /news/page-N/
RewriteCond %{THE_REQUEST} \s/+index\.php\?page=([0-9]+)(\s|$)
RewriteRule ^index\.php$ /news/page-%1/ [R=301,L]


###  REWRITE (внутрь)

# / → index.php
RewriteRule ^$ index.php [L]

# /news/ → index.php?page=1
RewriteRule ^news/?$ index.php?page=1 [L,QSA]

# /news/page-3/ → index.php?page=3
RewriteRule ^news/page-([0-9]+)/?$ index.php?page=$1 [L,QSA]

# /news/3/ → index.php?id=3&page=1
RewriteRule ^news/([0-9]+)/?$ index.php?id=$1&page=1 [L,QSA]


###  404

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . - [R=404,L]

</IfModule>
