@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* общие переменные и стили */

:root{
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #6C6E7B;
    --color-light-gray: #ECF2F5;
    --color-brand: #841844;
    --color-logo: #2C145E;

    --font-main: 'Open Sans';
    --font-size-logo: 28px;
    --font-size-xl: 64px;
    --font-size-l: 32px;
    --font-size-m: 20px;
    --font-size-s: 16px;

    --transition-duration: 0.3s ease;

    --container-width: 1520px;
    --radius-s: 20px;
    --radius-m: 50px;

}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-white);
    color: var(--color-black);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
button,
input,
textarea,
svg * {
    transition: all var(--transition-duration);
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}



.container {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
}

/* хэдер */

.header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

.logo {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    margin-block: 40px;
    gap: 20px;
}

.logo__image {
    width: 93px;
    height: 66px;
}

.logo__title {
    font-family: Segoe UI, sans-serif;
    font-weight: 400;
    font-size: var(--font-size-logo);
    line-height: 132%;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    width: 275px;
    color: var(--color-logo);
    padding: 4px;
}

/* баннер */

.banner {
    position: relative;
}

.banner__img {
    width: 100%;
    height: 646px;
    object-fit: cover;
    object-position: center;
    filter: brightness(70%);
}

.banner__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container--banner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: var(--container-width);
}
.banner__title {
    font-size: var(--font-size-xl);
    line-height: 1.4;
}

.banner__announce {
    font-weight: 400;
    font-size: var(--font-size-l);
    line-height: 1.6;
}

/* новости */

.news {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.news__section-title {
    font-weight: 600;
    font-size:  var(--font-size-xl);
    padding: 55px 0 60px;
}

.news__list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 40px;
}

.news__card {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    width: 740px;
    min-height: 330px;
    max-height: 365px;
}

.news__time {
    padding: 6px 18px;
    border-radius: var(--radius-s);
    background-color: var(--color-light-gray);
    color: var(--color-gray);
    font-size: var(--font-size-s);
}

.news__title {
    font-size: var(--font-size-l);
}

.news__announce {
    display: inline-flex;
    justify-content: start;
    align-items: start;
    margin: 0;
    font-size: var(--font-size-m);
    font-weight: 400;
    line-height: 1.6;
}

.news__button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: var(--color-white);
    color: var(--color-brand);
    font-weight: 600;
    font-size: var(--font-size-s);
    padding: 16px 41px;
    text-transform: uppercase;
    border-radius: var(--radius-m);
    border: 2px solid var(--color-brand);
}

.news__link:hover .news__title {
    color: var(--color-brand);
}

.news__link:hover {
    color: var(--color-brand);
}

.news__link:hover .news__button {
    background-color: var(--color-brand);
    color: var(--color-white);
}

/* пагинация */

.pagination {
    margin-block: 80px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.pagination__link {
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-brand);
    border: 3px solid var(--color-brand);
    border-radius: var(--radius-m);
    padding: 16px 23px;
    margin-inline: 8px;
}

.pagination__link--active {
    background-color: var(--color-brand);
    color: var(--color-white);
    pointer-events: none;
}

.pagination__link:hover {
    background-color: var(--color-brand);
    color: var(--color-white);
}

.pagination__link-arrow {
    padding: 16px 41px;
}

/* футер */

.footer {
    height: 180px;
    display: flex;
    align-items: center;
    border-top: 1px solid black;
}

.footer__text {
    font-size: var(--font-size-m)
}

/* страница с новостью */

.news-article {
    margin-block: 72px 137px;
}

.news-article__full {
    display: flex;
    align-items: center;
    gap: 40px;
}

.news-article__info {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    max-width: 740px;
}

.news-article__time {
    padding: 6px 18px;
    border-radius: var(--radius-s);
    background-color: var(--color-light-gray);
    color: var(--color-gray);
    font-size: var(--font-size-s);
}

.news-article__title {
    font-size: var(--font-size-xl);
    margin-block: 21px 63px;
}

.news-article__announce {
    font-size: var(--font-size-l);
    color: var(--color-brand);
}

.news-article__content {
    display: inline-flex;
    flex-direction: column;
    gap: 22px;
    font-size: var(--font-size-m);
    font-weight: 400;
    line-height: 1.6;
}

.news-article__back-link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: var(--color-white);
    color: var(--color-brand);
    font-weight: 600;
    font-size: var(--font-size-s);
    padding: 16px 41px;
    text-transform: uppercase;
    border-radius: var(--radius-m);
    border: 2px solid var(--color-brand);
}

.news-article__back-link:hover {
    background-color: var(--color-brand);
    color: var(--color-white);
}

.news-article__breadcrumbs {
    font-size: var(--font-size-s);
    display: inline-flex;
    gap: 10px;
}

.news-article__breadcrumbs--current {
    color: var(--color-gray);
}

.news-article__img {
    object-fit: cover;
}